@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cart-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.cart-animate {
    animation: cart-bounce 0.5s ease;
}
